/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .upgrade_to_pro{
	padding-top: 100px;
	padding: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	background: url('../images/xt_logo.png') no-repeat bottom 5%right 5% #fff;
	background-size: 20%;
}
.upgrade_to_pro h2{
	font-size: 22px !important;
	padding: 0px !important; 
}
.upgrade_button{
	height: 36px !important;
	padding: 4px 20px !important;
	font-size: 16px !important;
}

.hide_frequency .import_frequency, .wpea_eventbrite_form tr.eventbrite_organizer_id{
    display: none;
}

.setting_bar {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 6px 0 6px 12px;
}

.import_events_nav{
	background-color: #fafafa;
}

.import_events_nav ul.vercal_tabs{
	position: relative;
	float: left;
	list-style: none;
	width: 200px;
	line-height: 1em;
	margin: 0 0 -1px 0;
	padding: 0;
	background-color: #fafafa;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.import_events_nav ul.vercal_tabs li {

    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;

}

.import_events_nav ul.vercal_tabs li a {
    display: block;
    margin: 0;
    padding: 12px;
    line-height: 20px !important;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    font-size: 14px;
}

.import_events_nav ul.vercal_tabs li.active a {
    position: relative;
    font-weight: 700;
    color: #555;
    background-color: #fff;
    margin: 0px -1px 0px 0px;
    border-left: 2px solid #00a0d2;
}

.import_events_nav_content {
    float: left;
    width: calc(100% - 200px);
    margin-left: -1px;
    border-left: 1px solid #eee;
    padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.wp-event-aggregator-page-content{
	background-color: #fff;
	border: 1px solid #ccc;	
	margin: 20px 0;
}

@media ( max-width: 460px ){
	.import_events_nav ul.vercal_tabs{
		float: none;
		width: 100%;
	}
	.import_events_nav_content {
	    float: none;
	    width: 100%;
	}
}

.wpea_container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wpea_container *:before,
.wpea_container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wpea_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wpea_row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.xtei-column{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.wpea_container:before,
.wpea_container:after,
.wpea_row:before,
.wpea_row:after {
    content: " ";
    display: table;
}

.wpea_container:after,
.wpea_row:after {
    clear: both;
}

.wpea_well{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 00px 0;
    padding: 8px 20px 12px;
}
.wpea_label{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
.wpea_small {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
.wpea_submit_button{
    margin-top: 10px !important;
}

/*#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}*/
.wpea_element {
    margin-top: 5px;
    margin-bottom: 20px;
}
.wpea_small span.borderall {
    border: 2px solid red;
}
.tecauto_cat, .emauto_cat{
  display: none;
  margin-left: 25px;
}

.wpea_desciption {
    display: block;
    margin-left: 25px;
    font-size: 13px;
    font-style: italic;
    color: #bababa;
}

/* Meta box design */
table.wpea_form_table td, table.wpea_form_table th {
    padding: 2px 10px;
    text-align: left;
}
table.wpea_form_table{
    width: 100%;
}
table.wpea_form_table td input[type="text"]{
    vertical-align: bottom;
}
table.wpea_form_table tr td:nth-child(1) {
    width: 160px;
}

.plugin_box {
    width: 24%;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.plugin_box .plugin_img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.plugin_box h3{
    margin: 0.5em 0;
}
.plugin_box .plugin_content{
    padding: 10px 10px 20px 10px;
}
 @media (max-width: 1300px ){
    .plugin_box {
        width: 32.333%;
    }
}
@media (max-width: 1080px ){
    .plugin_box {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
 @media (max-width: 1080px ){
    .plugin_box {
        width: 100%;
        float: none;
    }
}

.wp-event-aggregator-page .fb_authorize {
    padding: 0px 15px;
    margin-top: -10px;
    background: #ddd;
}

.vc_ui-panel .wpea_datepicker .ui-datepicker-inline {
    display: none !important;
}

.wpea_admin_panel .nav-tab{
    margin-left: .4em;
    padding: 5px 9px;
}

.wpea_settings_notice {
    width: 100%;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 8px;
    color: #8a6d3b;
    box-sizing: border-box;
    font-size: 13px;
}
.wpea_settings_notice p {
  color: #8a6d3b;
  font-size: 13px;
}

.wpea_settings_error{
    width: 100%;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 10px;
    color: #a94442;
    margin-bottom: 5px;
}

.wpea_inprogress_import strong{
    color: green;
}

.toplevel_page_import_events #TB_window.thickbox-loading:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -10px 0 0 -10px;
  background: #fcfcfc url(../../../../../wp-admin/images/spinner.gif) no-repeat center;
  background-size: 20px 20px;
  transform: translateZ(0);
}

.toplevel_page_import_events #TB_window {
  background: #fcfcfc;
}

.toplevel_page_import_events #TB_title {
  float: left;
  height: 1px;
}

.toplevel_page_import_events #TB_ajaxWindowTitle {
  display: none;
}

.toplevel_page_import_events #TB_closeWindowButton {
  left: auto;
  right: -30px;
  color: #eee;
}

.toplevel_page_import_events #TB_closeWindowButton:hover,
.toplevel_page_import_events #TB_closeWindowButton:focus {
  color: #00a0d2;
  outline: none;
  box-shadow: none;
}

.toplevel_page_import_events .tb-close-icon {
  display: none;
}

.toplevel_page_import_events #TB_closeWindowButton:after {
  content: "\f335";
  font: normal 32px/29px 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 830px) {
  .toplevel_page_import_events #TB_closeWindowButton {
    right: 0;
    top: -30px;
  }
}

.wpea_connection_wrapper .img_wrap img {
    border-radius: 50%;
    max-width: 54px;
}

.wpea_connection_wrapper .img_wrap {
    float: left;
    margin-right: 10px;
}

/* Support page CSS */
.wpea-support-features-card {
  display: flex;
  flex-basis: 32%;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin: .5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.wpea-support-features-card:last-child {
  max-width: 100%
}

@media (min-width: 661px) {
  .wpea-support-features-card {
      margin-bottom: 1%
  }
}

@media (max-width: 660px) {
  .wpea-support-features-card {
      max-width: 100%;
      margin-bottom: .5rem
  }
}

@media (min-width: 481px) {
  .wpea-support-features-card {
      padding: 2rem
  }
}

@media (max-width: 480px) {
  .wpea-support-features-card {
      padding: 1rem
  }
}

.wpea-support-features-list {
  list-style: initial;
  margin-left: 1rem
}

.wpea-support-features-img {
  width: 5.625rem;
  margin-right: .5rem;
  line-height: 1
}

@media (min-width: 961px) {
  .wpea-support-features-img {
      width: 6.5rem;
      margin-right: 1.125rem
  }
}

.wpea-support-features-icon {
  display: block;
  max-width: 80%;
  margin-left: 0px;
}

@media (min-width: 481px) {
  .wpea-support-features-icon {
      max-width: 80%;
      margin-left: 0px;
  }
}

.wpea-support-features-text {
  flex: 1
}

.wpea-support-features-title {
  margin: 0
}

.wpea-support-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem
}

@media (max-width: 660px) {
  .wpea-support-features {
      display: block
  }
}
.checkout_model_option{
  margin-left: 20px;
}

#wpea_setting_form .checkout_model_option input[type="radio"]{
  margin: 2px;
}

/*Upgrade to pro link CSS*/
.wpea_upgrade_pro {
  background: #1da867;
}

#wpea_edit_scheduled_import .form-table td input{
  width: 100%;
}
#wpea_edit_scheduled_import .form-table td select{
  width: 100%;
}

/* New Setting Section CSS */
.wpea-setting-tab-container {
    width: 100%;
    margin: 25px 0;
  }

  .wpea-setting-main-tab {
    display: flex;
    border-bottom: 2px solid #d2d2d2;
    position: relative;
    margin-bottom: 5px;
  }

  .wpea-setting-tab {
    color: #000;
    padding: 8px 12px 15px;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 600;
    background-color: #f0f0f1;
    cursor: pointer;
    text-decoration: none;
  }

  .wpea-setting-tab.active {
    border-bottom: 4px solid #2271b1;
    margin-bottom: -1px;
  }

  .wpea-setting-tab-child {
    background-color: #ffffff;
    display: none;
    margin: 20px 0;
    padding: 15px 25px;
    box-shadow: 0px 0px 10px 1px #00000010;
  }

  .wpea-setting-tab-child.active {
    display: block;
  }

  .wpea-setting-tab-child h2 {
    margin-top: 0;
  }

  .wpea_gmap_error_message{
    font-weight: bold;
    color: red;
    margin-left: 10px;
  }
  .wpea_gmap_success_message{
    font-weight: bold;
    color: green;
    margin-left: 10px;
  }
  .wpea_google_maps_api_key{
    width: 50%;
  }
  .wpea_mt_10{
    margin-top: 10px;
  }
  
  .wpea_loader {
    position: relative;
    display: none;
  }
  
  .wpea_loader::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(0); }
  }

.wpea-plugin-notice {
  border-left: 4px solid #dba617;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 15px 20px 15px 15px !important;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.wpea-notice-content {
  margin-top: 10px;
}
.wpea-notice-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.wpea-notice-description {
  margin: 5px 0;
  color: #555;
}
.wpea-notice-actions {
  display: flex;
  align-items: center;
}
.wpea-notice-action {
  display: inline-block;
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.wpea-notice-action:hover {
  background-color: #0056b3;
  color: #fff !important;
}
.wpea-notice-actions a:active{
  color: #ffffff;
}
.wpea-lh{
  line-height: 1.5 !important;
}

.wpea_link_cp{
  width: 10%;
  text-align: left;
}

/* new Layout Start */
.wpea-inner-main-section{
  display: flex;
}
.wpea-inner-section-1{
  width : 20%;
}
.wpea-inner-section-2{
  width : 80%;
}

.wpea-inner-section-2 .wpea-texonomy-section{
  display: flex;
  gap: 30px;
}

.wpea-title-text{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

/*
* tab css
*/
.wpea-app .var-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  padding: 0 var(--tab-padding);
  font-size: var(--tab-font-size);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

a.var-tab.var--box.var-tab--inactive:focus {
  box-shadow: none;
}

.wpea-app .var-tab--active {
  color: #2271b1;
  border-bottom: 3px solid #2271b1;
}

.wpea_tab_content.var-tab--active {
  display: block;
}

.wpea-app .var-tab--inactive {
  color: var(--tab-inactive-color)
}

.wpea-app .var-tab--disabled {
  color: var(--tab-disabled-color);
  cursor: not-allowed
}

.wpea-app .var-tab--horizontal {
  flex-direction: row
}

.wpea-app .var-tab--vertical {
  flex-direction: column
}

.wpea-app .var-tabs {
  border-radius: var(--tabs-radius);
  background: var(--tabs-background);
  overflow: hidden;
  transition: background-color .25s
}

.wpea-app .var-tabs__tab-wrap {
  position: relative;
  display: flex;
  height: 100%
}

.wpea-app .var-tabs__indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  transition-property: width, transform;
  transition-duration: .3s
}

.wpea-app .var-tabs__indicator-inner {
  background: var(--tabs-indicator-background)
}

.wpea-app .var-tabs--layout-horizontal {
  flex-direction: row
}

.wpea-app .var-tabs--layout-horizontal-scrollable {
  overflow-x: auto;
  overflow-y: hidden
}

.wpea-app .var-tabs--layout-horizontal-scrollable::-webkit-scrollbar {
  display: none
}

.wpea-app .var-tabs--layout-horizontal-padding {
  padding: 0 var(--tabs-padding)
}

.wpea-app .var-tabs--layout-horizontal-indicator {
  bottom: 0;
  height: var(--tabs-indicator-size)
}

.wpea-app .var-tabs--layout-horizontal-indicator {
  right: 0
}

.wpea-app .var-tabs--layout-horizontal-reverse-indicator {
  top: 0;
  height: var(--tabs-indicator-size)
}

.wpea-app .var-tabs--layout-horizontal-reverse-indicator {
  right: 0
}

.wpea-app .var-tabs--layout-horizontal-indicator-inner {
  width: var(--tabs-indicator-inner-size);
  height: 100%
}

.wpea-app .var-tabs--layout-vertical {
  flex-direction: column
}

.wpea-app .var-tabs--layout-vertical-scrollable {
  overflow-x: hidden;
  overflow-y: auto
}

.wpea-app .var-tabs--layout-vertical-scrollable::-webkit-scrollbar {
  display: none
}

.wpea-app .var-tabs--layout-vertical-padding {
  padding: 0
}

.wpea-app .var-tabs--layout-vertical-indicator {
  top: 0;
  width: var(--tabs-indicator-size)
}

.wpea-app .var-tabs--layout-vertical-indicator {
  right: 0
}

.wpea-app .var-tabs--layout-vertical-reverse-indicator {
  top: 0;
  width: var(--tabs-indicator-size)
}

.wpea-app .var-tabs--layout-vertical-reverse-indicator {
  left: 0
}

.wpea-app .var-tabs--layout-vertical-indicator-inner {
  width: 100%;
  height: var(--tabs-indicator-inner-size)
}

.wpea-app .var-tabs--item-horizontal {
  height: var(--tabs-item-horizontal-height)
}

.wpea-app .var-tabs--item-vertical {
  height: var(--tabs-item-vertical-height)
}

.wpea-app .var-tabs--fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99
}

.wpea-app .var-tabs--fixed-bottom {
  right: 0
}

.wpea-app .var-tabs--safe-area {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: content-box !important
}

.wpea-app .wpea-tabs {
  display: flex;
  align-items: center;
  --tabs-item-horizontal-height: 52px;
  --tabs-item-vertical-height: 66px;
  --tabs-radius: 2px;
  --tabs-padding: 0;
  --tabs-indicator-size: 2px;
  --tabs-indicator-background: #005AE0;
  --tabs-background: none;
  --tabs-indicator-inner-size: 100%;
  --color-text-disabled: #8c8f9a;
  --tab-padding: 18px;
  --tab-active-color: #005AE0;
  --tab-inactive-color: #141B38;
  --tab-disabled-color: var(--color-text-disabled);
  --tab-font-size: 14px;
  --tab-line-height: 22px
}

.wpea-app .wpea-tabs.internal {
  --tab-padding: 25px;
  margin-bottom: 0
}

.wpea-app .wpea-tabs.skinny {
  --tab-padding: 16px
}

.wpea-app .var-tabs {
  margin-bottom: -2px
}

.wpea-app .var-tabs .var-tab {
  font-weight: 600;
  white-space: pre;
  position: relative;
  overflow: hidden;
  text-decoration : none;
}

.wpea-app .var-tabs .var-tab span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: wpea-ripple .6s linear;
  background-color: #0000004d;
  text-decoration : none;
  border-bottom: 2px solid #2271b1;
}

@keyframes wpea-ripple {
  to {
      transform: scale(3);
      opacity: 0
  }
}

.wpea-app .wpea-tabs {
  display: flex;
  border-bottom: 2px solid #E8E8EB;
  position: relative;
  margin-bottom: var(--wpea-gutter)
}

.wpea-app .wpea-tabs .button-right,
.wpea-app .wpea-tabs .tabs-extra {
  position: absolute
}

.wpea-app .wpea-tabs .button-right,
.wpea-app .wpea-tabs .tabs-extra {
  left: 0
}

.wpea-app .wpea-tabs .tab-score {
  display: inline-flex;
  font-weight: 700;
  line-height: normal;
  font-size: 12px
}

.wpea-app .wpea-tabs .tab-score {
  padding-right: 12px
}

.wpea-app .wpea-tabs .tab-score.green {
  color: #00aa63
}

.wpea-app .wpea-tabs .tab-score.orange {
  color: #f18200
}

.wpea-app .wpea-tabs .tab-score.red {
  color: #df2a4a
}

.wpea-app .wpea-tabs .tab-score svg {
  display: inline
}

.wpea-app .wpea-tabs .tab-score svg {
  margin-left: 4px
}

.wpea-app .wpea-tabs .warning {
  color: #f18200 !important
}

.wpea-app .wpea-tabs .warning svg {
  position: relative;
  top: 2px;
  display: inline;
  color: #f18200 !important
}

.wpea-app .wpea-tabs .warning svg {
  right: 5px
}

.wpea-app .wpea-mobile-tabs {
  --mobile-font-size: 14px;
  height: 40px;
  margin-top: 20px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  width: 100%
}

.wpea-app .wpea-mobile-tabs .active-tab {
  --spacing-x: 20px;
  align-items: center;
  color: #005ae0;
  cursor: pointer;
  display: inline-flex;
  min-height: 100%;
  position: relative
}

.wpea-app .wpea-mobile-tabs .active-tab {
  padding-right: var(--spacing-x)
}

.wpea-app .wpea-mobile-tabs .active-tab div {
  font-size: var(--mobile-font-size)
}

.wpea-app .wpea-mobile-tabs .active-tab div span {
  background-color: #005ae0;
  bottom: -2px;
  height: 2px;
  position: absolute;
  z-index: 10
}

.wpea-app .wpea-mobile-tabs .active-tab div span {
  right: 0;
  left: calc(var(--spacing-x) * -2)
}

.wpea-app .wpea-mobile-tabs .active-tab svg.wpea-caret {
  --caret-size: 24px;
  height: var(--caret-size);
  position: absolute;
  top: calc(50% - var(--caret-size) / 2);
  transition: transform .3s;
  width: var(--caret-size)
}

.wpea-app .wpea-mobile-tabs .active-tab svg.wpea-caret {
  right: 100%;
  transform: rotate(-180deg)
}

.wpea-app .wpea-mobile-tabs .active-tab svg.wpea-caret.rotated {
  transform: rotate(0)
}

.wpea-app .wpea-mobile-tabs .tab-dropdown {
  border: 1px solid #E8E8EB;
  border-top: none
}

.wpea-app .wpea-mobile-tabs .tab-links {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 8px;
  width: 100%;
  max-width: 300px
}

@media screen and (max-width: 782px) {
  .wpea-app .wpea-mobile-tabs .tab-links {
      max-width: 100%
  }
}

.wpea-app .wpea-mobile-tabs .tab-links a {
  font-size: var(--mobile-font-size);
  padding: 10px;
  display: block;
  color: #141b38;
  text-decoration: none
}

.wpea-app .wpea-mobile-tabs .tab-links a:hover {
  color: #005ae0
}
#wpcontent{
  padding-left: 0;
}

#poststuff #post-body.columns-2 {
  margin-right: 0;
}

.wpea-app .wpea-upgrade-bar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #00aa63;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  padding: 0 20px
}

.wpea-app .wpea-upgrade-bar .upgrade-text {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center
}

.wpea-app .wpea-upgrade-bar .upgrade-arrow {
  font-size: 15px;
  text-decoration: none
}

.wpea-app .wpea-upgrade-bar .upgrade-arrow:hover {
  text-decoration: none
}

.wpea-app .wpea-upgrade-bar strong {
  font-weight: 600
}

.wpea-app .wpea-upgrade-bar svg.wpea-logo-gear {
  width: 20px;
  height: 20px;
  min-width: 20px
}

.wpea-app .wpea-upgrade-bar svg.wpea-logo-gear {
  margin-left: 14px
}

.wpea-app .wpea-upgrade-bar svg.wpea-close {
  cursor: pointer;
  width: 12px;
  height: 12px
}

.wpea-app .wpea-upgrade-bar a {
  color: #fff;
  text-decoration: underline
}

.wpea-app .wpea-upgrade-bar a:hover {
  text-decoration: none
}

@media screen and (max-width: 782px) {
  .wpea-app .wpea-upgrade-bar {
      padding: 0 10px;
      height: 60px
  }
}

.wpea-container-fluid,
.wpea-container {
  margin-right: auto;
  margin-left: auto
}

.wpea-container {
  /* padding: 0;
  width: calc(100% - 20px * 2); */
  /* max-width: 1500px; */
  /* max-width: 1240px; */
  max-width: 1350px;
}

.wpea-container.full-width {
  width: 100%;
  max-width: 100%
}

.wpea-container.small {
  max-width: 810px
}

.wpea-container-fluid.hero,
.wpea-container.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.wpea-container-fluid {
  padding-right: 2rem;
  padding-left: 2rem
}

html:not([data-scroll="0"]) .wpea-header {
  box-shadow: 0 2px 5px #0000000d;
  transition: box-shadow .6s
}





/* start header */
.wpea-header {
  position: fixed;
  z-index: 1051;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: var(--wpea-header-height, 72px);
  color: #141b38
}

.wpea-header .mascot {
  width: 35px;
  height: auto
}

.wpea-header .mascot {
  margin-right: 10px
}

.wpea-header .mascot {
  margin-left: 10px
}

.wpea-header .wpea-header-content {
  padding: 0;
  display: flex;
  height: 72px;
  align-items: center;
  gap: 4px
}

.wpea-header .wpea-header-content a:focus {
  box-shadow: none
}

.wpea-header .wpea-header-content svg.wpea-logo {
  height: 20px
}

.wpea-header .wpea-header-content .spacer {
  display: inline-flex;
  width: 20px;
  height: 2px;
  background: #d0d1d7
}

.wpea-header .wpea-header-content .spacer {
  transform: rotate(70deg)
}

.wpea-header .wpea-header-content .page-name {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  flex: 1 0 auto
}

.wpea-header .wpea-header-content .header-actions {
  display: flex
}

.wpea-header .wpea-header-content .header-actions .round {
  position: relative;
  background-color: #f3f4f5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s ease
}

.wpea-header .wpea-header-content .header-actions .round {
  margin-right: 10px
}

.wpea-header .wpea-header-content .header-actions .round svg {
  width: 20px;
  height: 20px
}

.wpea-header .wpea-header-content .header-actions .round:hover {
  background-color: #e5e7e9
}

.wpea-header .wpea-header-content .header-actions .number {
  position: absolute;
  background-color: #df2a4a;
  width: 16px;
  height: 16px;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  top: -8px;
  margin: 0;
  animation: bounce 2s 5;
  will-change: transform
}

.wpea-header .wpea-header-content .header-actions .number {
  right: 50%;
  transform: translate(50%)
}

.wpea-header .wpea-header-content .header-actions .number:hover {
  background-color: #df2a4a
}

@keyframes bounce {

  0%,
  25%,
  50%,
  75%,
  to {
      transform: translate(-50%)
  }

  40% {
      transform: translate(-50%, -8px)
  }

  60% {
      transform: translate(-50%, -4px)
  }
}

.wpea-header .fade-percent-circle-enter-active,
.wpea-header .fade-percent-circle-leave-active {
  transition: opacity .5s
}

.wpea-header .fade-percent-circle-enter-from,
.wpea-header .fade-percent-circle-leave-to {
  opacity: 0
}


.wpea-card {
  position: relative;
  color: #141b38;
  background-color: #fff;
  /* border: 1px solid #E8E8EB; */
  box-shadow: 0 2px 5px #0000000d;
  margin: var(--wpea-gutter) 0
}

.wpea-card.disabled .wpea-content {
  background: #f9f9fa
}

.wpea-card svg.wpea-circle-question-mark {
  width: 17px;
  height: 17px;
  color: #8c8f9a;
  transition: background-color .2s ease
}

.wpea-card svg.wpea-circle-question-mark:hover {
  color: #5a5c66
}

.wpea-card>.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #E8E8EB
}

.wpea-card>.header.toggles {
  cursor: pointer
}

.wpea-card>.header .text {
  flex: 1 1 auto;
  display: flex;
  align-items: center
}

.wpea-card>.header .text>* {
  cursor: auto
}

.wpea-card>.header .text .header-icon {
  display: flex
}

.wpea-card>.header .text .header-icon svg {
  width: 24px;
  height: 24px
}

.wpea-card>.header .text .header-icon svg {
  margin-left: 16px
}

.wpea-card>.header .text .header-title {
  display: flex;
  align-items: center
}

.wpea_button {
  font-weight: 600 !important;
  padding: 0 15px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  transition: background-color .2s ease;
  position: relative;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  letter-spacing: normal;
  background-color: #005AE0;
  border: 0;
  margin-top: 10px;
}
.wpea_button:hover {
  background-color: #0049b3;
  border: 0;
}

.wpea-tooltip {
  position: relative;
  display: inline-block;
}

.wpea-circle-question-mark {
  cursor: pointer;
  width: 17px;
  height: 17px;
  color: #000;
  transition: background-color 0.2s ease;
  margin: 5px 5px 0 5px;
}

.wpea-circle-question-mark:hover + .wpea-popper {
  display: block;
}

.wpea-popper {
  display: none;
  position: absolute;
  left: 10px;
  top: -10px;
  transform: translate(-50%, -100%);
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 4.8px rgba(32, 71, 102, 0.27);
  z-index: 9999;
  width: 300px;
  line-height: 1.4;
  white-space: normal;
}

.wpea-popper__arrow {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

.wpea-card>.header .text .header-title .wpea-tooltip>div:has(svg),
.wpea-card>.header .text .header-title+.wpea-tooltip>div:has(svg) {
  display: inline-flex
}

.wpea-card>.header .text svg.wpea-circle-question-mark {
  cursor: pointer;
  width: 17px;
  height: 17px
}

.wpea-blur-filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.wpea-blur-filter .wpea-blur-filter-cta {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #E8E8EB;
  box-shadow: 0 2px 10px #005ae033;
  color: #141b38;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  text-align: center;
}

.wpea-pro-badge {
  margin-left: 5px;
  height: 22px;
  border-radius: 3px;
  background: #005AE0;
  color: #FFF;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  display: inline-flex;
  padding: 0 4px;
  align-items: center;
}

.wpea-pro-badge {
  margin-right: 5px
}

.wpea-card>.header .text .card-score {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px
}

.wpea-card>.header .text .card-score {
  padding-left: 10px
}

.wpea-card>.header .text .card-score.green {
  color: #00aa63
}

.wpea-card>.header .text .card-score.orange {
  color: #f18200
}

.wpea-card>.header .text .card-score.red {
  color: #df2a4a
}

.wpea-card>.header .text .card-score svg {
  margin-left: 4px
}

.wpea-card>.header svg.wpea-caret {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform .3s
}

.wpea-card>.header svg.wpea-caret {
  transform: rotate(180deg)
}

.wpea-card>.header svg.wpea-caret.rotated {
  transform: rotate(-90deg)
}

.wpea-card>.header svg.wpea-caret.rotated {
  transform: rotate(360deg)
}

.wpea-card>.header svg.wpea-close {
  width: 14px;
  height: 14px;
  cursor: pointer
}

/* end header*/

.wpea-card .wpea-content {
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wpea-card div.wpea-settings-row:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0
}

@media only screen and (max-width: 911px) {

  .wpea-col.col-sm-12>.wpea-card:last-child,
  .wpea-col.col-xs-12>.wpea-card:last-child {
      margin-bottom: 0
  }

  .wpea-col.col-sm-12+.wpea-col>.wpea-card:first-child,
  .wpea-col.col-xs-12+.wpea-col>.wpea-card:first-child {
      margin-top: 0
  }
}




/* header css */
.wpea-header{
  top: 32px;
}
.wpea-header {
  left: 160px;
}
.wpea-header {
  position: absolute;
  z-index: 1051;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 72px;
  color: #141b38;
}

.wpea-header .wpea-header-content {
  padding: 0;
  display: flex;
  height: 72px;
  align-items: center;
  gap: 4px;
}
.wpea-header .wpea-header-content .spacer {
  transform: rotate(-70deg);
}
.wpea-header .wpea-header-content .spacer {
  display: inline-flex;
  width: 20px;
  height: 2px;
  background: #d0d1d7;
}

.wpea-header .wpea-header-content .page-name {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  flex: 1 0 auto;
}
.wpea-header .wpea-header-content .header-actions {
  display: flex;
}

.wpea-header .wpea-header-content .header-actions .round {
  margin-left: 10px;
}
.wpea-header .wpea-header-content .header-actions .round {
  position: relative;
  background-color: #f3f4f5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s ease;
}

.wpea-wrap{
  top: 10px;
  position: relative;
}

.notice {
  margin: 10px 0;
}
/* end header*/

/*support page start*/
.wpea-about-us-plugins {
  margin-top: 20px;
  width: 100%;
}

.wpea-row {
  /* box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.wpea-about-us-plugins .wpea-plugin {
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
  width: 50%;
}

.wpea-col.wpea-text-xs-left {
  text-align: left !important;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-main {
  display: flex;
  flex-direction: row;
  padding: 22px;
  flex-grow: 1;
}

.wpea-about-us-plugins .wpea-plugin-footer {
  background-color: #fff;
  box-shadow: 0 2px 5px #0000000d;
  border: 1px solid #E8E8EB;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-main img {
  margin: 0 30px 0 0;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-main img {
  width: 50px;
  max-width: 50px;
  max-height: 50px;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-main .wpea-main-name {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #141b38;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-main,  .wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer {
  background-color: #fff;
  box-shadow: 0 2px 5px #0000000d;
  border: 1px solid #E8E8EB;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer .wpea-footer-status {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer .wpea-footer-status div {
  margin-right: 12px;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer .wpea-footer-status .wpea-footer-status-label {
  color: #8c8f9a;
}

.wpea-about-us-plugins .wpea-plugin .wpea-plugin-footer .wpea-footer-status div {
  display: inline-block;
}

/*support page end */

/* start new support page*/
/* Support page CSS */
.wpea-support-features-card,  .wpea-support-features-card2 {
  display: flex;
  flex-basis: 32%;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin: .5rem;
  background-color: #fff;
}

.wpea-support-features-card2 {
  flex-basis: 48%;
}

.wpea-support-features-card:last-child, .wpea-support-features-card2:last-child {
  max-width: 100%
}

@media (min-width: 661px) {
  .wpea-support-features-card, .wpea-support-features-card2 {
      margin-bottom: 1%
  }
}

@media (max-width: 660px) {
  .wpea-support-features-card, .wpea-support-features-card2 {
      max-width: 100%;
      margin-bottom: .5rem
  }
}

@media (min-width: 481px) {
  .wpea-support-features-card {
      padding: 2rem
  }
}

@media (max-width: 480px) {
  .wpea-support-features-card {
      padding: 1rem;
  }
  .wpea-support-features-card2{
      padding: 0;
  }
  .wpea-about-us-plugins .wpea-plugin{
      width: 100%;
  }
}

.wpea-support-features-list {
  list-style: initial;
  margin-left: 1rem
}

.wpea-support-features-img {
  width: 5.625rem;
  margin-right: .5rem;
  line-height: 1
}

@media (min-width: 961px) {
  .wpea-support-features-img {
      width: 6.5rem;
      margin-right: 1.125rem
  }
}

.wpea-support-features-icon {
  display: block;
  max-width: 80%;
  margin-left: 0px;
}

@media (min-width: 481px) {
  .wpea-support-features-icon {
      max-width: 80%;
      margin-left: 0px;
  }
}

.wpea-support-features-text {
  flex: 1
}

.wpea-support-features-title {
  margin: 0
}

.wpea-support-features, .wpea-support-features2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem
}

@media (max-width: 660px) {
  .wpea-support-features, .wpea-support-features2  {
      display: block
  }
}
/*end new support page*/

/* start footer section */
.wpea-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px;
  /* margin-top: 70px; */
}
.wpea-footer div:first-of-type {
  font-weight: 600;
}
.wpea-footer div {
  margin-top: 10px;
}
.wpea-footer .wpea-links a {
  color: #005ae0;
}

.wpea-footer .wpea-social-links a:focus {
  box-shadow: none;
}

.wpea-footer .wpea-social-links a:hover {
  color: #005AE0;
}

.wpea-footer div svg.wpea-facebook, .wpea-footer div svg.wpea-linkedin {
  width: 16px;
  height: 16px;
}
.wpea-footer div svg.wpea-twitter, .wpea-footer div svg.wpea-youtube {
  width: 17px;
  height: 16px;
}
.wpea-footer .wpea-social-links a{
  text-decoration : none;
  color: #787c82;
}

form#wpea_setting_form {
  display: flex
;
  flex-direction: column;
  gap: 20px;
}

/* end footer section*/

/* dashboard css start*/
#wpea-dashboard{
  max-width: 1040px;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.wpea-w-box {
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #e3e5e7;
}

.wpea-intro-section .wpea-w-box-content.wpea-intro-section-welcome {
  max-width: 600px;
  margin: 0 auto;
}

.wpea-intro-section .wpea-w-box-content {
  text-align: center;
}


#wpea-dashboard .wpea-intro-section .wpea-intro-section-link-tag.wpea-button-primary{
  color: #fff !important;
  font-weight: 500 !important;
  border-radius: 60px !important;
  text-shadow: none !important;
  background: #005AE0 !important;
  border: none !important;
  transition: .24s !important;
}
#wpea-dashboard .wpea-intro-section .wpea-intro-section-link-tag {
  font-weight: 500;
  border-radius: 60px;
  text-shadow: none;
  background: #fff;
  background: linear-gradient(95deg, #fff 0, #fff 50%, #fff 100%) !important;
  border: 1px solid #005AE0;
  transition: .24s;
}
#wpea-dashboard a {
  color: #005AE0;
  text-decoration: none;
}
a.wpea-intro-section-link-tag.button.button-hero {
  margin: 30px 10px;
}
.wpea-intro-section-links.wp-core-ui{
  text-align: center;
}
.wpea-col-sm-3 {
  width: 25%;
}
.wpea-counter-main-container{
  display: flex;
  gap: 30px;
  margin-bottom:20px;
}
.wpea_dash_count {
  font-size: 40px !important;
  font-weight: 500;
  margin: 10px;
  color: #005AE0;
}
.wpea-intro-section-ifarme iframe {
  border: 1px solid #e7e7e7;
  border-radius: 9px;
  padding: 15px;
  box-shadow: 0 3px 10px -6px rgb(0 0 0 / 12%);
}
/* dashboard css end*/

.wpea_input_w25{
  width: 25%;
}

/* start new calendar section css */
.wpea-xylus-promo-wrapper {
    background: #fff;
    border: 1px solid #ccd0d4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    margin-top: 20px;
}
.wpea-xylus-main-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wpea-xylus-promo-header h2 {
    font-size: 20px !important;
    color: #23282d;
    text-align: center;
}

.wpea-xylus-promo-header p {
    color: #666;
    text-align: center;
}

.wpea-xylus-screenshot-slider {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    width: 50%;
}

.wpea-screenshot-slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wpea-screenshot-slide.active {
    display: block;
    animation: fadein 1s ease-in-out;
}

.wpea-screenshot-slide img {
    width: 100%;

    object-fit: contain;

}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.wpea-xylus-feature-list {
    list-style: disc;
    padding-left: 20px;
    color: #333;
    margin-bottom: 20px;
}

.wpea-xylus-feature-list li {
    margin-bottom: 8px;
    font-size: 15px;
}
.wpea-xylus-plugin-box {
    background: #f8fff5;
    border: 1px solid #b4e2b0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.03);
}

.wpea-xylus-plugin-box h3 {
    margin-top: 0;
    color: #21759b;
    font-size: 18px;
}


.wpea-xylus-plugin-box .wpea_short_code {
    display: inline-block;
    background: #fff;
    border: 1px dashed #ccc;
    padding: 8px;
    border-radius: 4px;
    font-family: monospace;
    margin-right: 10px;
}
/* end new calendar section css */


.wpea_source_import input[type="text"], 
.wpea_source_import select{
  width: 45%;
  max-width: 100%;
}

.bulkactions{
  display: contents;
}

.wpea-setting-tab-content {
    display: none;
}

.wpea_button-a{
  padding: 8px 15px;
}
.wpea_button-a:hover{
  color: #fff !important;
}

.meetup_or_keyandsecrate{
  width: 56%;
  display: flex;
  justify-content: center;
}

.notice{
  display: none;
}

.wpea_notice{
  display: block;
}


input#current-page-selector {
    width: auto;
}
/* public api option css start */
.wpea-new-feature {
    border: 2px solid #4CAF50;
    padding: 15px 20px;
    background: #f9fff9;
    border-radius: 8px;
    gap: 20px;
}
.wpea-new-feature .wpea-title-text {
    font-size: 16px;
    font-weight: 600;
    color: #2d7a2d;
}
.wpea-new-feature .wpea_small {
    font-size: 13px;
    color: #555;
    display: block;
    margin-top: 5px;
}

.wpea-new-feature .wpea-inner-section-2 input[type="checkbox"] {
    transform: scale(1.5);
    margin: 5px;
}

.wpea-new-feature .wpea-inner-section-1{
  width : unset;
}
.wpea-new-feature .wpea-inner-section-2{
  width : unset;
} 
/* public api option css end */