/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .upgrade_to_pro{
	padding-top: 100px;
	padding: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	background: url('../images/xt_logo.png') no-repeat bottom 5%right 5% #fff;
	background-size: 20%;
}
.upgrade_to_pro h2{
	font-size: 22px !important;
	padding: 0px !important; 
}
.upgrade_button{
	height: 36px !important;
	padding: 4px 20px !important;
	font-size: 16px !important;
}

.support_well{
  background: url('../images/xt_logo.png') no-repeat bottom 7% right 2% #fff;
  background-size: 10%;
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px 20px 25px;
}

.hide_frequency .import_frequency, .wpea_eventbrite_form tr.eventbrite_organizer_id{
    display: none;
}

.setting_bar {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 6px 0 6px 12px;
}

.import_events_nav{
	background-color: #fafafa;
}

.import_events_nav ul.vercal_tabs{
	position: relative;
	float: left;
	list-style: none;
	width: 200px;
	line-height: 1em;
	margin: 0 0 -1px 0;
	padding: 0;
	background-color: #fafafa;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.import_events_nav ul.vercal_tabs li {

    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;

}

.import_events_nav ul.vercal_tabs li a {
    display: block;
    margin: 0;
    padding: 12px;
    line-height: 20px !important;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    font-size: 14px;
}

.import_events_nav ul.vercal_tabs li.active a {
    position: relative;
    font-weight: 700;
    color: #555;
    background-color: #fff;
    margin: 0px -1px 0px 0px;
    border-left: 2px solid #00a0d2;
}

.import_events_nav_content {
    float: left;
    width: calc(100% - 200px);
    margin-left: -1px;
    border-left: 1px solid #eee;
    padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.wp-event-aggregator-page-content{
	background-color: #fff;
	border: 1px solid #ccc;	
	margin: 20px 0;
}

@media ( max-width: 460px ){
	.import_events_nav ul.vercal_tabs{
		float: none;
		width: 100%;
	}
	.import_events_nav_content {
	    float: none;
	    width: 100%;
	}
}

.wpea_container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wpea_container *:before,
.wpea_container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wpea_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wpea_row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.xtei-column{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.wpea_container:before,
.wpea_container:after,
.wpea_row:before,
.wpea_row:after {
    content: " ";
    display: table;
}

.wpea_container:after,
.wpea_row:after {
    clear: both;
}

.wpea_well{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 00px 0;
    padding: 8px 20px 12px;
}
.wpea_label{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
.wpea_small {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
.wpea_submit_button{
    margin-top: 10px !important;
}

/*#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}*/
.wpea_element {
    margin-top: 5px;
    margin-bottom: 20px;
}
.wpea_small span.borderall {
    border: 2px solid red;
}
.tecauto_cat, .emauto_cat{
  display: none;
  margin-left: 25px;
}

.wpea_desciption {
    display: block;
    margin-left: 25px;
    font-size: 13px;
    font-style: italic;
    color: #bababa;
}

/* Meta box design */
table.wpea_form_table td, table.wpea_form_table th {
    padding: 2px 10px;
    text-align: left;
}
table.wpea_form_table{
    width: 100%;
}
table.wpea_form_table td input[type="text"]{
    vertical-align: bottom;
}
table.wpea_form_table tr td:nth-child(1) {
    width: 160px;
}

.plugin_box {
    width: 24%;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.plugin_box .plugin_img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.plugin_box h3{
    margin: 0.5em 0;
}
.plugin_box .plugin_content{
    padding: 10px 10px 20px 10px;
}
 @media (max-width: 1300px ){
    .plugin_box {
        width: 32.333%;
    }
}
@media (max-width: 1080px ){
    .plugin_box {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
 @media (max-width: 1080px ){
    .plugin_box {
        width: 100%;
        float: none;
    }
}

.wp-event-aggregator-page .fb_authorize {
    padding: 0px 15px;
    margin-top: -10px;
    background: #ddd;
}

.vc_ui-panel .wpea_datepicker .ui-datepicker-inline {
    display: none !important;
}

.wpea_admin_panel .nav-tab{
    margin-left: .4em;
    padding: 5px 9px;
}

.wpea_settings_notice{
    width: 100%;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 10px;
    color: #8a6d3b;
}

.wpea_settings_error{
    width: 100%;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 10px;
    color: #a94442;
    margin-bottom: 5px;
}

.wpea_inprogress_import strong{
    color: green;
}

.toplevel_page_import_events #TB_window.thickbox-loading:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -10px 0 0 -10px;
  background: #fcfcfc url(../../../../../wp-admin/images/spinner.gif) no-repeat center;
  background-size: 20px 20px;
  transform: translateZ(0);
}

.toplevel_page_import_events #TB_window {
  background: #fcfcfc;
}

.toplevel_page_import_events #TB_title {
  float: left;
  height: 1px;
}

.toplevel_page_import_events #TB_ajaxWindowTitle {
  display: none;
}

.toplevel_page_import_events #TB_closeWindowButton {
  left: auto;
  right: -30px;
  color: #eee;
}

.toplevel_page_import_events #TB_closeWindowButton:hover,
.toplevel_page_import_events #TB_closeWindowButton:focus {
  color: #00a0d2;
  outline: none;
  box-shadow: none;
}

.toplevel_page_import_events .tb-close-icon {
  display: none;
}

.toplevel_page_import_events #TB_closeWindowButton:after {
  content: "\f335";
  font: normal 32px/29px 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 830px) {
  .toplevel_page_import_events #TB_closeWindowButton {
    right: 0;
    top: -30px;
  }
}

.wpea_connection_wrapper .img_wrap img {
    border-radius: 50%;
    max-width: 54px;
}

.wpea_connection_wrapper .img_wrap {
    float: left;
    margin-right: 10px;
}