.wpea_frontend_archive * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wpea_frontend_archive *:before,
.wpea_frontend_archive *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wpea_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .wpea_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wpea_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wpea_container {
    width: 1170px;
  }
}
.wpea_container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row_grid {
  margin-left: -15px;
  margin-right: -15px;
}
.col-wpea-xs-1, .col-wpea-sm-1, .col-wpea-md-1, .col-wpea-lg-1, .col-wpea-xs-2, .col-wpea-sm-2, .col-wpea-md-2, .col-wpea-lg-2, .col-wpea-xs-3, .col-wpea-sm-3, .col-wpea-md-3, .col-wpea-lg-3, .col-wpea-xs-4, .col-wpea-sm-4, .col-wpea-md-4, .col-wpea-lg-4, .col-wpea-xs-5, .col-wpea-sm-5, .col-wpea-md-5, .col-wpea-lg-5, .col-wpea-xs-6, .col-wpea-sm-6, .col-wpea-md-6, .col-wpea-lg-6, .col-wpea-xs-7, .col-wpea-sm-7, .col-wpea-md-7, .col-wpea-lg-7, .col-wpea-xs-8, .col-wpea-sm-8, .col-wpea-md-8, .col-wpea-lg-8, .col-wpea-xs-9, .col-wpea-sm-9, .col-wpea-md-9, .col-wpea-lg-9, .col-wpea-xs-10, .col-wpea-sm-10, .col-wpea-md-10, .col-wpea-lg-10, .col-wpea-xs-11, .col-wpea-sm-11, .col-wpea-md-11, .col-wpea-lg-11, .col-wpea-xs-12, .col-wpea-sm-12, .col-wpea-md-12, .col-wpea-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2%;
}
.col-wpea-xs-1, .col-wpea-xs-2, .col-wpea-xs-3, .col-wpea-xs-4, .col-wpea-xs-5, .col-wpea-xs-6, .col-wpea-xs-7, .col-wpea-xs-8, .col-wpea-xs-9, .col-wpea-xs-10, .col-wpea-xs-11, .col-wpea-xs-12 {
  float: left;
}
.col-wpea-xs-12 {
  width: 100%;
}
.col-wpea-xs-11 {
  width: 91.66666667%;
}
.col-wpea-xs-10 {
  width: 83.33333333%;
}
.col-wpea-xs-9 {
  width: 75%;
}
.col-wpea-xs-8 {
  width: 66.66666667%;
}
.col-wpea-xs-7 {
  width: 58.33333333%;
}
.col-wpea-xs-6 {
  width: 50%;
}
.col-wpea-xs-5 {
  width: 41.66666667%;
}
.col-wpea-xs-4 {
  width: 33.33333333%;
}
.col-wpea-xs-3 {
  width: 25%;
}
.col-wpea-xs-2 {
  width: 16.66666667%;
}
.col-wpea-xs-1 {
  width: 8.33333333%;
}
.col-wpea-xs-pull-12 {
  right: 100%;
}
.col-wpea-xs-pull-11 {
  right: 91.66666667%;
}
.col-wpea-xs-pull-10 {
  right: 83.33333333%;
}
.col-wpea-xs-pull-9 {
  right: 75%;
}
.col-wpea-xs-pull-8 {
  right: 66.66666667%;
}
.col-wpea-xs-pull-7 {
  right: 58.33333333%;
}
.col-wpea-xs-pull-6 {
  right: 50%;
}
.col-wpea-xs-pull-5 {
  right: 41.66666667%;
}
.col-wpea-xs-pull-4 {
  right: 33.33333333%;
}
.col-wpea-xs-pull-3 {
  right: 25%;
}
.col-wpea-xs-pull-2 {
  right: 16.66666667%;
}
.col-wpea-xs-pull-1 {
  right: 8.33333333%;
}
.col-wpea-xs-pull-0 {
  right: auto;
}
.col-wpea-xs-push-12 {
  left: 100%;
}
.col-wpea-xs-push-11 {
  left: 91.66666667%;
}
.col-wpea-xs-push-10 {
  left: 83.33333333%;
}
.col-wpea-xs-push-9 {
  left: 75%;
}
.col-wpea-xs-push-8 {
  left: 66.66666667%;
}
.col-wpea-xs-push-7 {
  left: 58.33333333%;
}
.col-wpea-xs-push-6 {
  left: 50%;
}
.col-wpea-xs-push-5 {
  left: 41.66666667%;
}
.col-wpea-xs-push-4 {
  left: 33.33333333%;
}
.col-wpea-xs-push-3 {
  left: 25%;
}
.col-wpea-xs-push-2 {
  left: 16.66666667%;
}
.col-wpea-xs-push-1 {
  left: 8.33333333%;
}
.col-wpea-xs-push-0 {
  left: auto;
}
.col-wpea-xs-offset-12 {
  margin-left: 100%;
}
.col-wpea-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-wpea-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-wpea-xs-offset-9 {
  margin-left: 75%;
}
.col-wpea-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-wpea-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-wpea-xs-offset-6 {
  margin-left: 50%;
}
.col-wpea-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-wpea-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-wpea-xs-offset-3 {
  margin-left: 25%;
}
.col-wpea-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-wpea-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-wpea-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-wpea-sm-1, .col-wpea-sm-2, .col-wpea-sm-3, .col-wpea-sm-4, .col-wpea-sm-5, .col-wpea-sm-6, .col-wpea-sm-7, .col-wpea-sm-8, .col-wpea-sm-9, .col-wpea-sm-10, .col-wpea-sm-11, .col-wpea-sm-12 {
    float: left;
  }
  .col-wpea-sm-12 {
    width: 100%;
  }
  .col-wpea-sm-11 {
    width: 91.66666667%;
  }
  .col-wpea-sm-10 {
    width: 83.33333333%;
  }
  .col-wpea-sm-9 {
    width: 75%;
  }
  .col-wpea-sm-8 {
    width: 66.66666667%;
  }
  .col-wpea-sm-7 {
    width: 58.33333333%;
  }
  .col-wpea-sm-6 {
    width: 50%;
  }
  .col-wpea-sm-5 {
    width: 41.66666667%;
  }
  .col-wpea-sm-4 {
    width: 33.33333333%;
  }
  .col-wpea-sm-3 {
    width: 25%;
  }
  .col-wpea-sm-2 {
    width: 16.66666667%;
  }
  .col-wpea-sm-1 {
    width: 8.33333333%;
  }
  .col-wpea-sm-pull-12 {
    right: 100%;
  }
  .col-wpea-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-wpea-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-wpea-sm-pull-9 {
    right: 75%;
  }
  .col-wpea-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-wpea-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-wpea-sm-pull-6 {
    right: 50%;
  }
  .col-wpea-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-wpea-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-wpea-sm-pull-3 {
    right: 25%;
  }
  .col-wpea-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-wpea-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-wpea-sm-pull-0 {
    right: auto;
  }
  .col-wpea-sm-push-12 {
    left: 100%;
  }
  .col-wpea-sm-push-11 {
    left: 91.66666667%;
  }
  .col-wpea-sm-push-10 {
    left: 83.33333333%;
  }
  .col-wpea-sm-push-9 {
    left: 75%;
  }
  .col-wpea-sm-push-8 {
    left: 66.66666667%;
  }
  .col-wpea-sm-push-7 {
    left: 58.33333333%;
  }
  .col-wpea-sm-push-6 {
    left: 50%;
  }
  .col-wpea-sm-push-5 {
    left: 41.66666667%;
  }
  .col-wpea-sm-push-4 {
    left: 33.33333333%;
  }
  .col-wpea-sm-push-3 {
    left: 25%;
  }
  .col-wpea-sm-push-2 {
    left: 16.66666667%;
  }
  .col-wpea-sm-push-1 {
    left: 8.33333333%;
  }
  .col-wpea-sm-push-0 {
    left: auto;
  }
  .col-wpea-sm-offset-12 {
    margin-left: 100%;
  }
  .col-wpea-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-wpea-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-wpea-sm-offset-9 {
    margin-left: 75%;
  }
  .col-wpea-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-wpea-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-wpea-sm-offset-6 {
    margin-left: 50%;
  }
  .col-wpea-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-wpea-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-wpea-sm-offset-3 {
    margin-left: 25%;
  }
  .col-wpea-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-wpea-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-wpea-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-wpea-md-1, .col-wpea-md-2, .col-wpea-md-3, .col-wpea-md-4, .col-wpea-md-5, .col-wpea-md-6, .col-wpea-md-7, .col-wpea-md-8, .col-wpea-md-9, .col-wpea-md-10, .col-wpea-md-11, .col-wpea-md-12 {
    float: left;
    margin-bottom: 2%;
  }
  .col-wpea-md-12 {
    width: 100%;
  }
  .col-wpea-md-11 {
    width: 91.66666667%;
  }
  .col-wpea-md-10 {
    width: 83.33333333%;
  }
  .col-wpea-md-9 {
    width: 75%;
  }
  .col-wpea-md-8 {
    width: 66.66666667%;
  }
  .col-wpea-md-7 {
    width: 58.33333333%;
  }
  .col-wpea-md-6 {
    width: 50%;
  }
  .col-wpea-md-5 {
    width: 41.66666667%;
  }
  .col-wpea-md-4 {
    width: 33.33333333%;
    margin-bottom: 2%;
  }
  .col-wpea-md-3 {
    width: 25%;
  }
  .col-wpea-md-2 {
    width: 16.66666667%;
  }
  .col-wpea-md-1 {
    width: 8.33333333%;
  }
  .col-wpea-md-pull-12 {
    right: 100%;
  }
  .col-wpea-md-pull-11 {
    right: 91.66666667%;
  }
  .col-wpea-md-pull-10 {
    right: 83.33333333%;
  }
  .col-wpea-md-pull-9 {
    right: 75%;
  }
  .col-wpea-md-pull-8 {
    right: 66.66666667%;
  }
  .col-wpea-md-pull-7 {
    right: 58.33333333%;
  }
  .col-wpea-md-pull-6 {
    right: 50%;
  }
  .col-wpea-md-pull-5 {
    right: 41.66666667%;
  }
  .col-wpea-md-pull-4 {
    right: 33.33333333%;
  }
  .col-wpea-md-pull-3 {
    right: 25%;
  }
  .col-wpea-md-pull-2 {
    right: 16.66666667%;
  }
  .col-wpea-md-pull-1 {
    right: 8.33333333%;
  }
  .col-wpea-md-pull-0 {
    right: auto;
  }
  .col-wpea-md-push-12 {
    left: 100%;
  }
  .col-wpea-md-push-11 {
    left: 91.66666667%;
  }
  .col-wpea-md-push-10 {
    left: 83.33333333%;
  }
  .col-wpea-md-push-9 {
    left: 75%;
  }
  .col-wpea-md-push-8 {
    left: 66.66666667%;
  }
  .col-wpea-md-push-7 {
    left: 58.33333333%;
  }
  .col-wpea-md-push-6 {
    left: 50%;
  }
  .col-wpea-md-push-5 {
    left: 41.66666667%;
  }
  .col-wpea-md-push-4 {
    left: 33.33333333%;
  }
  .col-wpea-md-push-3 {
    left: 25%;
  }
  .col-wpea-md-push-2 {
    left: 16.66666667%;
  }
  .col-wpea-md-push-1 {
    left: 8.33333333%;
  }
  .col-wpea-md-push-0 {
    left: auto;
  }
  .col-wpea-md-offset-12 {
    margin-left: 100%;
  }
  .col-wpea-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-wpea-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-wpea-md-offset-9 {
    margin-left: 75%;
  }
  .col-wpea-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-wpea-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-wpea-md-offset-6 {
    margin-left: 50%;
  }
  .col-wpea-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-wpea-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-wpea-md-offset-3 {
    margin-left: 25%;
  }
  .col-wpea-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-wpea-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-wpea-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-wpea-lg-1, .col-wpea-lg-2, .col-wpea-lg-3, .col-wpea-lg-4, .col-wpea-lg-5, .col-wpea-lg-6, .col-wpea-lg-7, .col-wpea-lg-8, .col-wpea-lg-9, .col-wpea-lg-10, .col-wpea-lg-11, .col-wpea-lg-12 {
    float: left;
  }
  .col-wpea-lg-12 {
    width: 100%;
  }
  .col-wpea-lg-11 {
    width: 91.66666667%;
  }
  .col-wpea-lg-10 {
    width: 83.33333333%;
  }
  .col-wpea-lg-9 {
    width: 75%;
  }
  .col-wpea-lg-8 {
    width: 66.66666667%;
  }
  .col-wpea-lg-7 {
    width: 58.33333333%;
  }
  .col-wpea-lg-6 {
    width: 50%;
  }
  .col-wpea-lg-5 {
    width: 41.66666667%;
  }
  .col-wpea-lg-4 {
    width: 33.33333333%;
  }
  .col-wpea-lg-3 {
    width: 25%;
  }
  .col-wpea-lg-2 {
    width: 16.66666667%;
  }
  .col-wpea-lg-1 {
    width: 8.33333333%;
  }
  .col-wpea-lg-pull-12 {
    right: 100%;
  }
  .col-wpea-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-wpea-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-wpea-lg-pull-9 {
    right: 75%;
  }
  .col-wpea-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-wpea-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-wpea-lg-pull-6 {
    right: 50%;
  }
  .col-wpea-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-wpea-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-wpea-lg-pull-3 {
    right: 25%;
  }
  .col-wpea-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-wpea-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-wpea-lg-pull-0 {
    right: auto;
  }
  .col-wpea-lg-push-12 {
    left: 100%;
  }
  .col-wpea-lg-push-11 {
    left: 91.66666667%;
  }
  .col-wpea-lg-push-10 {
    left: 83.33333333%;
  }
  .col-wpea-lg-push-9 {
    left: 75%;
  }
  .col-wpea-lg-push-8 {
    left: 66.66666667%;
  }
  .col-wpea-lg-push-7 {
    left: 58.33333333%;
  }
  .col-wpea-lg-push-6 {
    left: 50%;
  }
  .col-wpea-lg-push-5 {
    left: 41.66666667%;
  }
  .col-wpea-lg-push-4 {
    left: 33.33333333%;
  }
  .col-wpea-lg-push-3 {
    left: 25%;
  }
  .col-wpea-lg-push-2 {
    left: 16.66666667%;
  }
  .col-wpea-lg-push-1 {
    left: 8.33333333%;
  }
  .col-wpea-lg-push-0 {
    left: auto;
  }
  .col-wpea-lg-offset-12 {
    margin-left: 100%;
  }
  .col-wpea-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-wpea-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-wpea-lg-offset-9 {
    margin-left: 75%;
  }
  .col-wpea-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-wpea-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-wpea-lg-offset-6 {
    margin-left: 50%;
  }
  .col-wpea-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-wpea-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-wpea-lg-offset-3 {
    margin-left: 25%;
  }
  .col-wpea-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-wpea-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-wpea-lg-offset-0 {
    margin-left: 0%;
  }
}
.wpea_container:before,
.wpea_container:after,
.wpea_container-fluid:before,
.wpea_container-fluid:after,
.row_grid:before,
.row_grid:after {
  content: " ";
  display: table;
}
.wpea_container:after,
.wpea_container-fluid:after,
.row_grid:after {
  clear: both;
}
.wpea_frontend_archive .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wpea_frontend_archive .pull-right {
  float: right !important;
}
.wpea_frontend_archive .pull-left {
  float: left !important;
}
.wpea_frontend_archive .hide {
  display: none !important;
}
.wpea_frontend_archive .show {
  display: block !important;
}
.wpea_frontend_archive .invisible {
  visibility: hidden;
}
.wpea_frontend_archive .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.wpea_frontend_archive .hidden {
  display: none !important;
}
.wpea_frontend_archive .affix {
  position: fixed;
}

.wpea_organizer{ padding:40px; width:100%; background:#fafafa; border:1px solid #eeeeee; margin:30px 0;}
.wpea_organizer:after{ clear: both; }
.wpea_organizer .details { float: left; width: 50%;}
.wpea_organizer .details > a { display: block; line-height:18px;}
.wpea_organizer .details > p {margin-bottom: 10px;margin-top:0;}
.wpea_organizer .venue{ float:left; width:35%;}
.wpea_organizer .map {border:2px solid #ddd;float: left;width:64%; border-radius:2px;}
.wpea_organizer .titlemain{ font-size:18px; font-weight:bold; color:#444444;}
.wpea_organizer.library{ margin-top:0;}
@media (max-width: 768px){
    .wpea_organizer .details, .wpea_organizer .map, .wpea_organizer .venue{float: none;width:100%;}
}
.wpea_organizer a {
    text-decoration: none;
    box-shadow: none;
}


.wpea_frontend_archive .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
    
}

.wpea_frontend_archive .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.wpea_frontend_archive .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.wpea_frontend_archive .event_details {
    background-color: #f5f5f5;
    height: 80px;
    overflow: hidden;
}

.wpea_frontend_archive .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.wpea_frontend_archive .event_desc .event_address,.wpea_frontend_archive .event_desc .event_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.wpea_frontend_archive .event_desc .event_title {
  font-size: 1.2em;
  color: #039ED7;
}

.wpea_frontend_archive .img_placeholder{
  background-size: cover !important;
  min-height: 130px;
}
.wpea_frontend_archive .archive-event .wepa_event{
  height: 210px;
  font-size: 16px;
}

/*
 *  Widget Style Start
 */
.wpea_widget_style1 .event_details{
  height: auto;
}

.wpea_widget{
  margin-bottom: 10px;
}

.wpea_event_listing_widget {
    max-height: 600px;
    overflow: auto;
}

.wpea_widget_style1 .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
}

.wpea_widget_style1 .event_picture {
    background-color: #efefef;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;    
}

.wpea_widget_style1 .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.wpea_widget_style1 .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.wpea_widget_style1 .event_details {
    background-color: #f5f5f5;
    height: 75px;
}

.wpea_widget_style1 .event_details .fa, .wpea_event .event_details .fa{
  text-align: center;
  width: 16px;
}

.wpea_widget_style1 .event_details p.description{
  color: #666;
}

.wpea_widget_style1 .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.wpea_widget_style1 .event_desc .event_address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.wpea_widget_style1 .event_desc .event_name {
  font-size: 1.2em;
  color: #039ED7;
  line-height: 1.3em;
}

.wpea-start-date__dialog .components-popover__content, .wpea-end-date__dialog .components-popover__content {
  padding: 10px;
}

.components-panel__row.wpea-start-date.wpea_hidden, .components-panel__row.wpea-end-date.wpea_hidden{
  display: none;
}